*, body {
    font-family: 'lato', "Arial", "Sans-Serif";
    line-height: 1;
    box-sizing: border-box;
}

input:focus-visible {
    outline: none;
}
.displayNone {
    display: none;
}

header img {
    width: 280px;
}

h1{
    font-size: 1.280em;
    margin-bottom: 0;
    font-weight: 600;
}

h2 {
    font-size: 1em;
    font-weight: 700;
}

ul li {
    list-style: none;
    font-size: 15px;
}


p {
    font-size: 0.95rem;
}

.cardResume {
    overflow-x: hidden;
    max-height: 260px;
    line-height: 5;
}

.ingredient-item {
    font-weight: 600;
}

.display-inline {
    display: inline-block;
}

.salmon-background button:hover {
    background-color: #f38f84;
    cursor: pointer;
}

.blue-background button:hover {
    background-color: #64a0f9;
    cursor: pointer;
}

.green-background button:hover {
    background-color: #85dcb3;
    cursor: pointer;
}

form {
    position: relative;
}

.tagsArea {
    margin-left: 2.75em;
    margin-right: 2.75em;
}

.tag__item {
    color: white;
    margin-right: 1em;
    border-radius: 5px;
    margin-top: 0.5em;
    padding: 0.5em 1em 0.5em 0.8em;
    -webkit-animation: pop-tag .3s ease-in-out forwards;
            animation: pop-tag .3s ease-in-out forwards;
}

.tag__item i {
    padding-left: 0.5em;
}
.cardRecipes {
    padding-top: 5rem!important;
}

.cardResume {
    max-width: 260px;
    padding-left: 50px;
    overflow: hidden;
}
.ingredients__results,
.appareils__results,
.ustensils__results{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    flex-wrap: wrap;
    margin-top: -5px;
    z-index: 1;
    max-height: 350px;
    overflow: scroll;
    scroll-margin: 0;
    cursor: pointer;
}
.opened::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
  }
.opened::-moz-placeholder {
    color: white;
    opacity: 0.5;
  }
.opened:-ms-input-placeholder {
    color: white;
    opacity: 0.5;
  }
.opened::-ms-input-placeholder {
    color: white;
    opacity: 0.5;
  }
.opened::placeholder {
    color: white;
    opacity: 0.5;
  }
.closed::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}
.closed::-moz-placeholder {
    color: white;
    opacity: 1;
}
.closed:-ms-input-placeholder {
    color: white;
    opacity: 1;
}
.closed::-ms-input-placeholder {
    color: white;
    opacity: 1;
}
.closed::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}
.closed::-moz-placeholder {
    color: white;
    opacity: 1;
}
.closed:-ms-input-placeholder {
    color: white;
    opacity: 1;
}
.closed::-ms-input-placeholder {
    color: white;
    opacity: 1;
}
.closed::placeholder {
    color: white;
    opacity: 1;
}
.col-xl-2, .col-xl-3, .col-xl-4 {
    transition: all 400ms ease;
}
.ingredients__results button,
.appareils__results button,
.ustensils__results button {
    margin: 5px;
    padding-left: 18px;
    flex: 30%;
    text-align: left;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 24px;
    border: none;
    background-color: transparent;
    color: white;
}

.dropDownMenusArea {
    position: absolute;
    width: 100%;
}

.invisible {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
button:disabled {
    text-decoration: line-through;
    color: white;
}
/* width */
.ustensils__results::-webkit-scrollbar {
    width: 12px;
}

.appareils__results::-webkit-scrollbar {
    width: 12px;
}

.ingredients__results::-webkit-scrollbar {
    width: 12px;
}
 
  /* Track */
.ustensils__results::-webkit-scrollbar-track {
    background: #ED6454; 
}

.appareils__results::-webkit-scrollbar-track {
    background: #68D9A4; 
}

.ingredients__results::-webkit-scrollbar-track {
    background: #3282F7; 
}

/* Handle */
.ustensils__results::-webkit-scrollbar-thumb {
    background: #ED6454; 
}
.appareils__results::-webkit-scrollbar-thumb {
    background: #68D9A4; 
}
.ingredients__results::-webkit-scrollbar-thumb {
    background: #3282F7; 
}
/* Handle on hover */
.ustensils__results::-webkit-scrollbar-thumb:hover {
    background: #ED6454; 
}
.appareils__results::-webkit-scrollbar-thumb:hover {
    background: #68D9A4; 
}
.ingredients__results::-webkit-scrollbar-thumb:hover {
    background: #3282F7; 
}


.list {
    line-height: 21.6px;
}
.hidden {
    display: none !important;
}
.bi-x-circle {
    cursor: pointer;
    position: relative;
    left: 0.5em;
}
.grey-background {
    background-color: #C7BEBE;
    width: 100%;
    height: 178px;
    border-radius: 8px 8px 0 0;
}
.content {
    border-radius: 0px 0px 8px 8px;
}
.recipe {
    background-color: #E7E7E7;
    transition: 190ms ease-in-out;
    cursor: pointer;
    height: 410px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 7px #b0b0b05d;
}
.recipe:hover {
    box-shadow: 2px 2px 10px 7px #7b7b7b5d;

}
.row {
    margin-right: 30px;
    margin-left: 30px;
}
.flex {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}

.blue-background{
    background-color: #3282F7;
}

.green-background{
    background-color:#68D9A4 ;
}

.salmon-background{
    background-color:#ED6454 ;
}

@media (max-width:1400px){
    .recipe{
        height: 430px;
    }
    h1, h2 {
        font-size: 0.9em;
    }
    .dropDownMenusArea {
        position: absolute;
        width: 94%;
    }
}

.search input{
    background-color:#E7E7E7 ;
    width: 100%;
    border-radius: 8px;
    color :#0000006c;
    opacity: 0.7;
    border:none;
    margin-bottom: 20px;
    height: 50px;
}

.search button {
    background-color: transparent;
    border: none;
    position: absolute;
    top:40%;
    right:2%;
}

.ingredients i, .ustensils i, .appareils i {
    position: absolute;
    top:55%;
    right:3%;
    color:white;
    margin-right:5px;
    font-size: 18px;
    font-weight: 900;
}

.ingredients input, .ustensils input, .appareils input {
    color: white;
    border-radius: 8px;
    border: none;
    height: 60px;
    padding: 20px;
    width: 100%;
}
.closed {
    transition: opacity .3s ease-in-out,
    flex .3s ease-in-out;
}
.closed:hover {
    opacity: .75;
}

@media (max-width:1200px){
    .recipe{
        height: 560px;
      
    }
    h1, h2 {
        font-size: 1em;
    }
}

@media (max-width:992px){
    .recipe{
        height: 470px;
    }
    h1, h2 {
        font-size: 1.2em;
    }

    p{
        font-size:1em;
    }


}

@media (max-width:861px){
    .recipe{
        height: 500px;
    }
}

@media (max-width:770px){
    .recipe{
        height: 550px;
    }
    .dropDownMenusArea {
        position: absolute;
        width: 92.55%;
    }
}


@media (max-width:575px){
    .recipe{
        height: 500px;
    }

    header img {
        width: 230px;
    }

    .row {
        margin-left: 5px;
        margin-right: 5px;
    }

    .search button {
        right: 5%;
    }

    h1, h2 {
        font-size: 1.2em;
    }
    div button {
        font-size: 0.85em;
    }
    p{
    font-size:0.85em;
    }
    .search button {
        font-size: 12.5px;
    }
    .search ::-webkit-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::-moz-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search :-ms-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::-ms-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dropDownMenusArea {
        position: absolute;
        width: 97.3%;
    }
    .cardRecipes {
        padding-top: 17rem!important;
    }

}

