*,
body {
    font-family: 'lato', "Arial", "Sans-Serif";
    line-height: 1;
    box-sizing: border-box;
}

input:focus-visible {
    outline: none;
}

.displayNone {
    display: none;
}

h1 {
    font-size: 1.280em;
    margin-bottom: 0;
    font-weight: 600;
}

h2 {
    font-size: 1em;
    font-weight: 700;
}

ul li {
    list-style: none;
    font-size: 15px;
}

p {
    font-size: 0.95rem;
}

.ingredient-item {
    font-weight: 600;
}

.display-inline {
    display: inline-block;
}

.salmon-background button:hover {
    cursor: pointer;
}

.blue-background button:hover {
    cursor: pointer;
}

.green-background button:hover {
    cursor: pointer;
}

form {
    position: relative;
}

.tagsArea {
    margin-left: 2.75em;
    margin-right: 2.75em;
}

.tag__item {
    color: white;
    margin-right: 1em;
    border-radius: 5px;
    margin-top: 0.5em;
    padding: 0.5em 1em 0.5em 0.8em;
    -webkit-animation: pop-tags .4s ease-in-out forwards;
    animation: pop-tags .4s ease-in-out forwards;
}

.tag__item i {
    padding-left: 0.5em;
}

@-webkit-keyframes pop-tags {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop-tags {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#search input:focus+#searchButton i {
    fill: #D04F4F;
}

.cardRecipes {
    padding-top: 5rem !important;
}

.cardResume {
    max-width: 260px;
    padding-left: 50px;
    overflow: hidden;
}

.ingredients__results,
.appareils__results,
.ustensils__results {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    padding-top: 0;
    padding-bottom: 13px;
    flex-wrap: wrap;
    margin-top: -5px;
    z-index: 1000;
    max-height: 350px;
    overflow: scroll;
    scroll-margin: 0;
    cursor: pointer;
}

.opened::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
}

.opened::-moz-placeholder {
    color: white;
    opacity: 0.5;
}

.opened:-ms-input-placeholder {
    color: white;
    opacity: 0.5;
}

.opened::-ms-input-placeholder {
    color: white;
    opacity: 0.5;
}

.opened::placeholder {
    color: white;
    opacity: 0.5;
}

.closed::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}

.closed::-moz-placeholder {
    color: white;
    opacity: 1;
}

.closed:-ms-input-placeholder {
    color: white;
    opacity: 1;
}

.closed::-ms-input-placeholder {
    color: white;
    opacity: 1;
}

.closed::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}

.closed::-moz-placeholder {
    color: white;
    opacity: 1;
}

.closed:-ms-input-placeholder {
    color: white;
    opacity: 1;
}

.closed::-ms-input-placeholder {
    color: white;
    opacity: 1;
}

.closed::placeholder {
    color: white;
    opacity: 1;
}

.col-xl-2,
.col-xl-3,
.col-xl-4 {
    transition: all 400ms ease;
}

.ingredients__results button,
.appareils__results button,
.ustensils__results button {
    margin: 5px 5px 7px 5px;
    padding-left: 18px;
    flex: 30%;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    text-overflow: ellipsis;
    max-height: 42px;
    border: none;
    background-color: transparent;
    color: white;
}

.dropDownMenusArea {
    position: absolute;
    width: 100%;
}

.row>* {
    padding-right: 20px;
    padding-left: 20px;
}

.invisible {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

button:disabled {
    text-decoration: line-through;
    color: white;
}

/* width */
.ustensils__results::-webkit-scrollbar {
    width: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.appareils__results::-webkit-scrollbar {
    width: 0;
}

.ingredients__results::-webkit-scrollbar {
    width: 0;
}

/* Track */
.ustensils__results::-webkit-scrollbar-track {
    background: #ED6454;
}

.appareils__results::-webkit-scrollbar-track {
    background: #68D9A4;
}

.ingredients__results::-webkit-scrollbar-track {
    background: #3282F7;
}

/* Handle */
.ustensils__results::-webkit-scrollbar-thumb {
    background: #ED6454;
}

.appareils__results::-webkit-scrollbar-thumb {
    background: #68D9A4;
}

.ingredients__results::-webkit-scrollbar-thumb {
    background: #3282F7;
}

/* Handle on hover */
.ustensils__results::-webkit-scrollbar-thumb:hover {
    background: #ED6454;
}

::-webkit-scrollbar {
    display: none;
}

.appareils__results::-webkit-scrollbar-thumb:hover {
    background: #68D9A4;
}

.ingredients__results::-webkit-scrollbar-thumb:hover {
    background: #3282F7;
}

.hidden {
    display: none !important;
}

.bi-x-circle {
    cursor: pointer;
    position: relative;
    left: 0.5em;
    -webkit-animation: none;
            animation: none;
}

.grey-background {
    background-color: #C7BEBE;
    width: 100%;
    height: 178px;
    border-radius: 8px 8px 0 0;
}

.content {
    border-radius: 0px 0px 8px 8px;
}

.recipe {
    background-color: #E7E7E7;
    transition: 190ms ease-in-out;
    cursor: pointer;
    height: 410px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 7px #b0b0b05d;
    margin-bottom: 15px;

}

@-webkit-keyframes smooth-effect {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes smooth-effect {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.recipe:hover {
    box-shadow: 2px 2px 10px 7px #7b7b7b5d;
}

.row {
    margin-right: 30px;
    margin-left: 30px;
}

.flex {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}

.blue-background {
    background-color: #3282F7;
}

.green-background {

    background-color: #68D9A4;
}

.salmon-background {
    background-color: #ED6454;
}

@media (max-width:1400px) {

    .recipe {
        height: 430px;
    }

    h1,
    h2 {
        font-size: 1.1em;
    }

    .dropDownMenusArea {
        position: absolute;
        width: 94%;
    }
}

.search {
    -webkit-animation: smooth-effect 0.7s backwards;
    animation: smooth-effect 0.7s backwards;
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
}

.search input {
    background-color: #E7E7E7;
    width: 100%;
    border-radius: 8px;
    color: #0000006c;
    opacity: 0.7;
    border: none;
    margin-bottom: 20px;
    height: 60px;
}

.search button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40%;
    right: 3%;
    font-size: 20px;
}

#ingredients {
    -webkit-animation: smooth-effect 0.5s ease-in-out forwards;
    animation: smooth-effect 0.5s ease-in-out forwards;
}

#appareils {
    -webkit-animation: smooth-effect 0.7s ease-in-out forwards;
    animation: smooth-effect 0.7s ease-in-out forwards;
}

#ustensils {
    -webkit-animation: smooth-effect 1s ease-in-out forwards;
    animation: smooth-effect 1s ease-in-out forwards;
}

.ingredients i,
.ustensils i,
.appareils i {
    position: absolute;
    top: 55%;
    right: 3%;
    color: white;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 900;
}

.ingredients input,
.ustensils input,
.appareils input {
    color: white;
    border-radius: 8px;
    border: none;
    height: 60px;
    padding: 20px;
    width: 100%;
}

.closed {
    transition: opacity .2s ease-in-out,
        flex .2s ease-in-out;
}

.logo {
    margin-bottom: 20px;
    margin-top: 10px;
    -webkit-animation: smooth-effect 0.5s backwards;
    animation: smooth-effect 0.5s backwards;
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
}

.closed:hover {
    opacity: .75;
}

.searchTagError {
    font-size: 15px;
    margin: 5px;
    padding-left: 18px;
    line-height: 1.2;
}

.searchError {
    color: #d04f4f;
    font-weight: 600;
    font-size: 1.8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

@media (max-width:1200px) {

    .recipe {
        height: 560px;
    }

    h1,
    h2 {
        font-size: 1em;
    }
}

@media (max-width:992px) {

    .recipe {
        height: 470px;
    }

    h1,
    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width:861px) {

    .recipe {
        height: 500px;
    }
}

@media (max-width:770px) {

    .recipe {
        height: 550px;
    }

    .dropDownMenusArea {
        position: absolute;
        width: 92.55%;
    }
}


@media (max-width:575px) {

    .recipe {
        height: 500px;
    }

    header img {
        width: 230px;
    }

    .row {
        margin-left: 5px;
        margin-right: 5px;
    }

    .search button {
        right: 5%;
    }

    h1,
    h2 {
        font-size: 1.2em;
    }

    div button {
        font-size: 0.85em;
    }

    p {
        font-size: 0.85em;
    }

    .search button {
        font-size: 12.5px;
    }

    .search ::-webkit-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::-moz-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search :-ms-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::-ms-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::-webkit-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::-moz-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search :-ms-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::-ms-input-placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search ::placeholder {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dropDownMenusArea {
        position: absolute;
        width: 97.3%;
    }

    .cardRecipes {
        padding-top: 17rem !important;
    }
}
